@using MyAspNetApp.Web.ViewModels.WrapperClasses

@model HashSet<ProductListComponentViewModel>

<table class="table table-danger table-hover">
    <thead>
        <tr>
            <th class="text-center">İsim</th>
            <th class="text-center">Açıklama</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductListComponentViewModel item in Model)
        {
            <tr>
                <td class="text-center">@item.Name</td>
                <td class="text-center">@(item.Description.Length>20?$"{item.Description.Substring(0, 20)} ...":item.Description)</td>
            </tr>
        }
    </tbody>
</table>